{% extends 'main/base.html' %}
{% block title %}Mening maqolalarim{% endblock %}
{% block content %}
<h1>Mening maqolalarim</h1>
<a href="/articles/">Yangi maqola qo'shish</a>
<hr>
{% for article in articles %}
<h2><a href="/articles/{{ article.slug }}/">{{ article.title }}</a></h2>
<p>Sana: {{ article.created_at|date:"d.m.Y H:i" }}</p>
<p>{{ article.context|truncatewords:20 }}</p>
<p>Teglar: {% for tag in article.tags.all %}#{{ tag.name }} {% endfor %}</p>
<a href="/articles/{{ article.slug }}/">Ko'rish</a> |
<a href="/articles/{{ article.slug }}/edit/">Tahrirlash</a> |
<a href="/articles/{{ article.slug }}/delete/">O'chirish</a>
<hr>
{% empty %}
<p>Siz hali maqola yozmadingiz.</p>
{% endfor %}
{% endblock %}
